<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
      <input type="text" v-model="cari" placeholder="masukkan kata kunci">
      <ul v-for="bk in filterBooks">
          <li>{{bk.buku}}</li>
      </ul>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
          cari:'',
          books:[
              {buku:'Kalkulus Dasar'},
              {buku:'Fisika Dasar'},
              {buku:'Aljabar Linier Elementer'},
              {buku:'Aljabar Abstrak'},
              {buku:'Algoritma Pemograman'},
          ]
        
      },
      computed : {
          filterBooks: function(){
              return this.books.filter((bk)=>{
                  return bk.buku.toLowerCase().match(this.cari.toLowerCase())
              });
            }  
      }
  })
  </script>
</body>
</html>